In [1]:
#Q1. What are the three measures of central tendency?

In [2]:
"""Three measures of central tendency are:
    1.Mean
    2.Median
    3.Mode"""

'Three measures of central tendency are:\n    1.Mean\n    2.Median\n    3.Mode'

In [3]:
#Q2. What is the difference between the mean, median, and mode? How are they used to measure the  central tendency of a dataset?

In [4]:
"""1.Mean- This is used for obtaining the average value present in a given data set.

Salary= [10k,20k,30k,15k,50k,80k,100k,15k]

   Mean= Total Salary/ Number of employees 
    
    Mean= (10+20+30+15+50+80+100+15)k/8 =40K
    
2.Medain- It is used to find the central value in a data set. In case of even number of data points we use (n1+n2)/2, 
    where n1 and n2 are central values. In case of odd its the middle value.
    
      
    Salary= [10k,15k,15k,20k,30k,50k,80k,100k]
    
    Median salary = (20k+30K)/2= 25 K
    
3.Mode- The value that appers more frequent in a dataset. It can be used for both quantitative and qualitative data.
    
    Mode Salary= 15K
    
    Using the above formula they are used to meausre the central tendency."""

'1.Mean- This is used for obtaining the average value present in a given data set.\n\nSalary= [10k,20k,30k,15k,50k,80k,100k,15k]\n\n   Mean= Total Salary/ Number of employees \n    \n    Mean= (10+20+30+15+50+80+100+15)k/8 =40K\n    \n2.Medain- It is used to find the central value in a data set. In case of even number of data points we use (n1+n2)/2, \n    where n1 and n2 are central values. In case of odd its the middle value.\n    \n      \n    Salary= [10k,15k,15k,20k,30k,50k,80k,100k]\n    \n    Median salary = (20k+30K)/2= 25 K\n    \n3.Mode- The value that appers more frequent in a dataset. It can be used for both quantitative and qualitative data.\n    \n    Mode Salary= 15K\n    \n    Using the above formula they are used to meausre the central tendency.'

In [8]:
#Q3. Measure the three measures of central tendency for the given 
height_data= [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [6]:
import numpy as np

In [9]:
height_data

[178,
 177,
 176,
 177,
 178.2,
 178,
 175,
 179,
 180,
 175,
 178.9,
 176.2,
 177,
 172.5,
 178,
 176.5]

In [11]:
np.mean(height_data)

177.01875

In [12]:
np.median(height_data)

177.0

In [13]:
from scipy import stats

In [14]:
stats.mode(height_data)

/tmp/ipykernel_84/2661021712.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(height_data)

ModeResult(mode=array([177.]), count=array([3]))

In [15]:
#Q4. Find the standard deviation for the given data: 
#[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [16]:
np.std(height_data)

1.7885814036548633

In [17]:
#Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe  the spread of a dataset? 
#Provide an example.

In [19]:
import seaborn as sns

In [20]:
df=sns.load_dataset("planets")

In [21]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [22]:
#covariance- Helps in understanding the relationship between random variables as + and - covariance. (x&y)
df.cov()

/tmp/ipykernel_84/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,number,orbital_period,mass,distance,year
number,1.540022,-4.109673e+02,-1.073362,-31.780638,0.728876
orbital_period,-410.967320,6.767661e+08,1005.472594,-255305.071038,-3367.807803
mass,-1.073362,1.005473e+03,14.581833,46.439431,-1.963811
distance,-31.780638,-2.553051e+05,46.439431,537459.792221,517.198294
year,0.728876,-3.367808e+03,-1.963811,517.198294,15.781287

In [36]:
#Pearson correlation- How the random varibles are related to each other can be indentified through this method.
#The more closer to 1 the more positively correlated and vice-versa.
df.corr("pearson")

/tmp/ipykernel_84/3789947928.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("pearson")

                  number  orbital_period      mass  distance      year
number          1.000000       -0.012570 -0.241429 -0.033638  0.147849
orbital_period -0.012570        1.000000  0.173725 -0.034365 -0.032333
mass           -0.241429        0.173725  1.000000  0.274082 -0.123787
distance       -0.033638       -0.034365  0.274082  1.000000  0.178922
year            0.147849       -0.032333 -0.123787  0.178922  1.000000

In [28]:
import numpy as np

In [29]:
#standard_deviation- Shift of data from the mean value.
np.std(df['orbital_period'])

26001.61273564429

In [30]:
np.std(df['mass'])

3.814892986837594

In [31]:
np.std(df['distance'])

732.6626912919195

In [32]:
np.std(df['year'])

3.9706472790001652

In [33]:
np.mean(df['year'])

2009.0705314009663

In [35]:
#Majority(68%) of the data lies between year 2009 +- 3.9 years. We can say this by using standard deviation.
#95% data lies between 2009 +- (2*3.9) Years and 99.7 % data lies between 2009 +- (3*3.9) Years

In [37]:
#Spearman correlation- How the random varibles are related to each other can be indentified through this method. 
#In this method we basically rank the data based on the value. Highest value will be ranked as 1 as the rest in ascending order.
df.corr("spearman")

/tmp/ipykernel_84/2200192389.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("spearman")

                  number  orbital_period      mass  distance      year
number          1.000000        0.036842 -0.401909 -0.209278  0.247716
orbital_period  0.036842        1.000000  0.542234 -0.373384 -0.223256
mass           -0.401909        0.542234  1.000000  0.467621 -0.265991
distance       -0.209278       -0.373384  0.467621  1.000000  0.370235
year            0.247716       -0.223256 -0.265991  0.370235  1.000000

In [38]:
#From the above data we can identify that orbital_period & year are positively co-related with number, mass & distance are negatively 
# correlated with numbers. This input will help us in identifying the feature for futher ml model.

In [39]:
#Q6. What is a Venn diagram?

In [40]:
# Venn diagram is basically a pictorial representation of data present in a set.

In [41]:
#Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find: 
#(i)  A B -(0,6,24,40,60,0)
#(ii) A ⋃ B -(0,2,3,4,5,6,7,8,10)

In [42]:
#Q8. What do you understand about skewness in data?

In [44]:
"""Skewness- Mesure of asymmetry. It indicates whether the data is concentrated in one side.
It also tells us where the data is situated. There are basically two types of skewness:
1. Right skewness or positive skewness(mean> median > mode)
2. Left skewness or negative skewness(mean< median< mode)"""

'Skewness- Mesure of asymmetry. It indicates whether the data is concentrated in one side.\nIt also tells us where the data is situated. There are basically two types of skewness:\n1. Right skewness or positive skewness(mean> median > mode)\n2. Left skewness or negative skewness(mean< median< mode)'

In [45]:
#Q9. If a data is right skewed then what will be the position of median with respect to mean?

In [46]:
#Position os mean > median in right skewed data.

In [47]:
#Q10. Explain the difference between covariance and correlation. How are these measures used in  statistical analysis?

In [48]:
#Covariance- Helps in understanding the relationship between random variables as + and - covariance. (x&y)
#+ ve covariance represent x is directly proportional to y.
#-ve covarience represent x is inversly proportionla to y.
# The disadvantage here is it does not have a specific limit value.

In [49]:
df.cov()

/tmp/ipykernel_84/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,number,orbital_period,mass,distance,year
number,1.540022,-4.109673e+02,-1.073362,-31.780638,0.728876
orbital_period,-410.967320,6.767661e+08,1005.472594,-255305.071038,-3367.807803
mass,-1.073362,1.005473e+03,14.581833,46.439431,-1.963811
distance,-31.780638,-2.553051e+05,46.439431,537459.792221,517.198294
year,0.728876,-3.367808e+03,-1.963811,517.198294,15.781287

In [51]:
#Correlation- In this the range is specified between -1 and 1.

#Pearson correlation- How the random varibles are related to each other can be indentified through this method.
#The more closer to 1 the more positively correlated and vice-versa.

#Spearman correlation- How the random varibles are related to each other can be indentified through this method. 
#In this method we basically rank the data based on the value. Highest value will be ranked as 1 as the rest in ascending order.
df.corr("pearson")

/tmp/ipykernel_84/3959958867.py:8: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("pearson")

                  number  orbital_period      mass  distance      year
number          1.000000       -0.012570 -0.241429 -0.033638  0.147849
orbital_period -0.012570        1.000000  0.173725 -0.034365 -0.032333
mass           -0.241429        0.173725  1.000000  0.274082 -0.123787
distance       -0.033638       -0.034365  0.274082  1.000000  0.178922
year            0.147849       -0.032333 -0.123787  0.178922  1.000000

In [52]:
df.corr("spearman")

/tmp/ipykernel_84/2200192389.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr("spearman")

                  number  orbital_period      mass  distance      year
number          1.000000        0.036842 -0.401909 -0.209278  0.247716
orbital_period  0.036842        1.000000  0.542234 -0.373384 -0.223256
mass           -0.401909        0.542234  1.000000  0.467621 -0.265991
distance       -0.209278       -0.373384  0.467621  1.000000  0.370235
year            0.247716       -0.223256 -0.265991  0.370235  1.000000

In [53]:
#Q11. What is the formula for calculating the sample mean? Provide an example calculation for a  dataset.

In [54]:
#Sample_mean= Total_Sample_population/ total_no_of_sample_observation

In [55]:
sample_data= [2,4,6,8]

In [56]:
sample_mean= (2+4+6+8)/4

In [57]:
sample_mean

5.0

In [58]:
#Q12. For a normal distribution data what is the relationship between its measure of central tendency?

In [59]:
#For a normal distribution mean=median= mode

In [60]:
#13. How is covariance different from correlation? 

#Covariance is diffrent form correlation as in correlation we have a defnite range from -1 to 1 but in covariance it is not specified.

In [61]:
#Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [62]:
"""Outliers can have a significant impact on measures of central tendency (such as mean, median, and mode) and measures of dispersion (such as range, variance, and standard deviation). Outliers are data points that significantly deviate from the majority of the data points in a dataset.

The effect of outliers on measures of central tendency:

Mean: Outliers can heavily influence the mean because it takes into account the value of each data point. Even a single extreme outlier can greatly shift the mean towards its direction. For example, consider a dataset of salaries: {40, 45, 50, 55, 60, 1000}. The outlier value of 1000 significantly increases the mean, making it less representative of the majority of the data.

Median: Outliers have less impact on the median as it represents the middle value of a dataset when arranged in ascending or descending order. If an outlier is significantly larger or smaller than the rest of the data, it will not affect the median as much as it does the mean.

Mode: Outliers generally do not affect the mode since it represents the most frequently occurring value(s) in the dataset. Outliers that occur infrequently or are unique will not impact the mode.

The effect of outliers on measures of dispersion:

Range: Outliers have a direct impact on the range, which is the difference between the maximum and minimum values in a dataset. An outlier with an extreme value can significantly increase or decrease the range, expanding the spread of the data.

Variance and Standard Deviation: Outliers can heavily influence these measures of dispersion because they involve calculating the squared differences between each data point and the mean. Since outliers can have large deviations from the mean, squaring these deviations magnifies their effect on variance and standard deviation. This makes these measures sensitive to outliers.

For example, consider a dataset of test scores: {85, 88, 92, 90, 95, 30}. The outlier value of 30 will greatly increase the variance and standard deviation, reflecting the increased spread caused by the outlier.

It's important to be aware of the presence of outliers in a dataset as they can distort the interpretation of measures of central tendency and dispersion. Outliers may indicate data entry errors, measurement errors, or genuinely exceptional observations. In some cases, it might be necessary to identify and handle outliers appropriately by either removing them if they are erroneous or analyzing them separately if they represent meaningful information."""

"Outliers can have a significant impact on measures of central tendency (such as mean, median, and mode) and measures of dispersion (such as range, variance, and standard deviation). Outliers are data points that significantly deviate from the majority of the data points in a dataset.\n\nThe effect of outliers on measures of central tendency:\n\nMean: Outliers can heavily influence the mean because it takes into account the value of each data point. Even a single extreme outlier can greatly shift the mean towards its direction. For example, consider a dataset of salaries: {40, 45, 50, 55, 60, 1000}. The outlier value of 1000 significantly increases the mean, making it less representative of the majority of the data.\n\nMedian: Outliers have less impact on the median as it represents the middle value of a dataset when arranged in ascending or descending order. If an outlier is significantly larger or smaller than the rest of the data, it will not affect the median as much as it does the mean.\n\nMode: Outliers generally do not affect the mode since it represents the most frequently occurring value(s) in the dataset. Outliers that occur infrequently or are unique will not impact the mode.\n\nThe effect of outliers on measures of dispersion:\n\nRange: Outliers have a direct impact on the range, which is the difference between the maximum and minimum values in a dataset. An outlier with an extreme value can significantly increase or decrease the range, expanding the spread of the data.\n\nVariance and Standard Deviation: Outliers can heavily influence these measures of dispersion because they involve calculating the squared differences between each data point and the mean. Since outliers can have large deviations from the mean, squaring these deviations magnifies their effect on variance and standard deviation. This makes these measures sensitive to outliers.\n\nFor example, consider a dataset of test scores: {85, 88, 92, 90, 95, 30}. The outlier value of 30 will greatly increase the variance and standard deviation, reflecting the increased spread caused by the outlier.\n\nIt's important to be aware of the presence of outliers in a dataset as they can distort the interpretation of measures of central tendency and dispersion. Outliers may indicate data entry errors, measurement errors, or genuinely exceptional observations. In some cases, it might be necessary to identify and handle outliers appropriately by either removing them if they are erroneous or analyzing them separately if they represent meaningful information."